<!DOCTYPE html>
<html lang="{{ .Page.Language | default " en" }}">
<head>
    {{ partial "header.html" . }}
    {{ partial "header.meta.single.html" .}}
    {{ partial "script.menu.html" .}}
    <title>{{ .Title }}</title>
</head>
<body>
    {{ partial "navbar" . }}
    {{ partial "hero.html" . }}
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Date Posted</p>
                <p class="title">{{ .Date.Format "Mon Jan 2, 2006" }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Original Site</p>
                <div class="button">
                    <a href="{{ .Params.parenturl }}">Link</a>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Tags</p>
                <div class="buttons">
                    {{ with .Params.tags }}
        
                    {{ range . }}
                    <button class="button">
                        <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                    </button>
                    {{ end }}
        
                    {{ end }}
                </div>
            </div>
        </div>

    </nav>
    <div class="container">
        <div class="block has-text-centered">
            <img src="{{ .Site.BaseURL }}{{.File.Dir}}thumbnail.png" alt="Missing thumbnail :(" />
        </div>
        
        <div class="block">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
        
        <!--
        <div class="block">    
            <h4 class="subtitle" id="date"> Posted: {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 class="subtitle" id="wordcount"> Word Count: {{ .WordCount }} Words </h5>
                <br>
                <h2 class="title">Tags</h2>
                <div class="buttons">
                    {{ with .Params.tags }}
                    
                    {{ range . }}
                    <button class="button">
                        <a href="{{ " tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                    </button>
                    {{ end }}
                    
                    {{ end }}
                </div>
                
            </div>
        -->
        
        <div class="block">

            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <h3>See Also</h3>
            <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>



    {{ partial "footer" . }}
    {{ partial "icons" . }}
</body>