<!DOCTYPE html>
<html lang="{{ .Page.Language | default " en" }}">

<head>
    {{ partial "header.html" . }}
    {{ partial "header.meta.single.html" .}}
    {{ partial "script.menu.html" .}}
    <title>{{ .Title }}</title>
</head>

<body>
    {{ partial "navbar" . }}
    {{ partial "hero.html" . }}

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Prep Time</p>
                <p class="title">{{ .Params.prepTimeMinutes }} Minutes</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Cook Time</p>
                <p class="title">{{ .Params.cookTimeMinutes }} Minutes</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Servings</p>
                <p class="title">{{ .Params.servings }}</p>
            </div>
        </div>
    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Cuisine</p>
                {{ with .Params.cuisine }}

                {{ range . }}
                <button class="button">
                    <a href="{{ " cuisine" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                </button>
                {{ end }}

                {{ end }}
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Course</p>
                {{ with .Params.course }}

                {{ range . }}
                <button class="button">
                    <a href="{{ " course" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                </button>
                {{ end }}

                {{ end }}
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="block has-text-centered">
            <img src="{{ .Site.BaseURL }}{{.File.Dir}}thumbnail.png" alt="Missing thumbnail :(" />
        </div>

        <div class="block">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
    <br>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div class="block">
                {{ $related := .Site.RegularPages.Related . | first 5 }}
                {{ with $related }}
                <h2 class="subtitle">See Also</h2>
                <div class="buttons">
                    {{ range . }}
                    <button class="button">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </button>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <h2 class="subtitle">Tags</h2>
                <div class="buttons">
                    {{ with .Params.tags }}

                    {{ range . }}
                    <button class="button">
                        <a href="{{ " tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                    </button>
                    {{ end }}

                    {{ end }}
                </div>
            </div>
        </div>
    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Original Site</p>
                <div class="button">
                    <a href="{{ .Params.parenturl }}">Link</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Date Posted</p>
                <p class="title">{{ .Date.Format "Mon Jan 2, 2006" }}</p>
            </div>
        </div>
    </nav>

    {{ partial "footer" . }}
    {{ partial "icons" . }}
</body>