<div class="container mt-8">
    {{ range .RegularPages }}
    <div class="card">
        <div class="card-content">
            <div class="media">
                
                <div class="media-left">
                    <figure class="image is-128x128">
                        <a href="{{ .Permalink }}">
                               <img src="{{ .Site.BaseURL }}/{{ .File.Dir }}thumbnail.png" alt="" width="256" height="256">
                           </a>
                       </figure>
                   </div>
   
                   <div class="media-content">
                       <p class="title is-4">
                           <a href="{{ .Permalink }}"> {{ .Title }}</a>
                       </p>
                       <p class="subtitle is-6">{{ .Params.subtitle }}</p>
   
                       <div class="buttons has-addons ">
                           {{ with .Params.cuisine }}
                           {{ range . }}
                           <button class="button">
                               <a href="{{ "cuisines" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                           </button>
                           {{ end }}
                           {{ end }}
   
                           {{ with .Params.course }}
                           {{ range . }}
                           <button class="button">
                               <a href="{{ "course" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                           </button>
                           {{ end }}
                           {{ end }}
   
                           {{ with .Params.tags }}
                           {{ range . }}
                           <button class="button">
                               <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                           </button>
                           {{ end }}
                           {{ end }}
                       </div>
                   </div>
               </div>
           </div>
       </div>
    {{ end }}        
</div>