<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
            <!--
                <img src="{{ .Site.BaseURL }}favicon.svg" width="32" height="32">
            -->
            {{ .Site.Title }}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="{{ .Site.BaseURL }}recipes">Recipes</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}tags">Tags</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}cuisine">Cuisine</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}course">Course</a>

            {{ if $.Site.Params.DisplayRssButton }} 
            <a class="navbar-item" href="{{ .Site.BaseURL }}index.xml">
                <img src="{{ .Site.BaseURL }}icons/ionicons/logo-rss.svg" width="32" height="32" />
            </a>
            {{ end }}

        </div>
    </div>
</nav>