<ul class="pagination pagination-default">
    <li class="page-item disabled">
        <a aria-disabled="true" aria-label="First" class="page-link" role="button" tabindex="-1">
            <span aria-hidden="true">««</span>
        </a>
    </li>
    <li class="page-item disabled">
        <a aria-disabled="true" aria-label="Previous" class="page-link" role="button" tabindex="-1">
            <span aria-hidden="true">«</span>
        </a>
    </li>
    <li class="page-item active">
        <a aria-current="page" aria-label="Page 1" class="page-link" role="button">1</a>
    </li>
    <li class="page-item">
        <a href="/recipes/page/2/" aria-label="Page 2" class="page-link" role="button">2</a>
    </li>
    <li class="page-item">
        <a href="/recipes/page/2/" aria-label="Next" class="page-link" role="button">
            <span aria-hidden="true">»</span>
        </a>
    </li>
    <li class="page-item">
        <a href="/recipes/page/2/" aria-label="Last" class="page-link" role="button">
            <span aria-hidden="true">»»</span>
        </a>
    </li>
</ul>