<!DOCTYPE html>
<html lang="{{ .Page.Language | default " en" }}">
<head>
    {{ partial "header.html" . }}
    {{ partial "header.meta.html" . }}
    {{ partial "script.menu.html" }}
    <title>{{ .Title }}</title>
</head>

<body>
    {{ partial "navbar" . }}
    {{ partial "hero.html" . }}
    <div class="container">
        <br>

        <div class="buttons">
            {{ range .Data.Pages }}
            <button class="button">
                <a href="{{.RelPermalink}}">{{ .Title }}</a>
            </button>
            {{ end }}
        </div>
    </div>
</body>